* {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: #e7eeea; */
    margin: 0;
}

.interface {
    margin: auto;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    display: inline-block;
}

header ul {
    /* display: inline-block; */
    margin: 10px 0px 0px 0px;
}

header ul li {
    display: inline-block;
    margin: 0px 10px;
}

header nav ul li a {
    color: #282e2b;
    text-transform: uppercase;
    text-decoration: none;
    /* font-weight: bold; */
}

header main nav ul li a:hover {
    color: #5c6761
}

/* SEÇÃO HOME */
#home{
    background-image: url('../images/fundo-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home main {
    display: flex;
    flex-direction: row;
    padding: 3rem 2rem;
}

#home main div{
    margin: auto 1.5rem;
}

#home h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;
}

#home p{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    letter-spacing: .1rem;
    line-height: 1.2rem;
}

#sobre{
    color: #282e2b
}

#sobre main{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

#sobre main .conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sobre h1{
    margin: 1rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

#sobre .borda{
    width: 8rem;
    background-color: #282e2b;
    height: .2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

#sobre main .conteudo div{
    margin: 0 1.5rem;
}

#sobre main p{
    text-align: justify;
}

/* SEÇÃO PORTFÓLIO */
#portfolio{
    background-color: #282e2b;
    color: #fff;
}

#portfolio .interface{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

#portfolio .interface .conteudo{
    display: flex;
    flex-direction: row;
    margin: .3rem 0;
    justify-content: center;
}

#portfolio h1{
    margin: 1rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

#portfolio .borda{
    width: 6rem;
    background-color: #fff;
    height: .2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

#portfolio .conteudo figure{
    background-color: #fff;
    color: #282e2b;
}

#portfolio .conteudo figcaption{
    padding: .3rem 0;
}

#portfolio .conteudo figcaption h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

#portfolio .conteudo figcaption p{
    margin: 0;
    text-align: center;
}

#equipe main{
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;

}

#equipe h1{
    margin: 1rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

#equipe .borda{
    width: 6rem;
    background-color: #282e2b;
    height: .2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

#equipe .equipe_membros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#equipe .membro{
    width: 250px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, .7);
    border-bottom: 4px solid green;
}

#equipe figure{
    background-color: #fff;
    color: #282e2b;
}

#equipe figure img{
    width: 100%;
    height: auto;
}

#equipe figcaption{
    padding: .3rem 0;
}

#equipe figcaption h2{
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

#equipe figcaption p{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

/* SEÇÃO CONTATO */
#contato{
    background-image: url('/assets/images/fundo-contato.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contato main{
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;

}

#contato h1{
    color: #fff;
    margin: 1rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

#contato .borda{
    width: 5rem;
    background-color: #fff;
    height: .2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

#contato .conteudo_contato{
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contato .conteudo_contato .mapa p{
    color: #fff;
    margin-top: .5rem;
    margin-bottom: 0;
}

#contato .conteudo_contato .form_contato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
}

#contato .conteudo_contato .form_contato input{
    font-size: 1rem;
}

#contato .conteudo_contato .form_contato input:nth-child(1),
#contato .conteudo_contato .form_contato input:nth-child(2){
    width: 100%;
    height: 15%;
}

#contato .conteudo_contato .form_contato input:nth-child(3){
    width: 100%;
    height: 50%;
}

#contato .conteudo_contato .form_contato button{
    width: 20%;
    justify-content: right;
    font-size: 1rem;
}

/* SEÇÃO footer */

footer{
    background-color: #282e2b;
}

footer main{
    display: flex;
    flex-direction: column;
}

footer .interface nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 3rem;
}

footer ul {
    /* display: inline-block; */
    margin: auto 0;
}

footer ul li {
    display: inline-block;
    margin: 0px 10px;
}

footer nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    /* font-weight: bold; */
}

footer main nav ul li a:hover {
    color: #5c6761
}

footer img{
    width: 6rem;
    height: auto;
    margin-right: 2.5rem;
}

footer .borda{
    width: 86%;
    background-color: #000;
    height: .2rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

footer p{
    color: #fff;
    text-align: center;
    margin-bottom: 2.5rem;
    letter-spacing: .2rem;
}